<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <!--TCP通讯服务器的IP地址-->
    <add key="AsyncTCPServer" value="192.168.1.8"/>
    <!--TCP通讯服务器的IP通讯端口-->
    <add key="AsyncTCPProt" value="9999"/>
    <!--服务器断开连接时向客户端发送的消息数据-->
    <add key="ServerClose" value="$#@The server is closed. Please reconnect the client@#$"/>
    <!--客户端心跳包消息文本-->
    <add key ="ClientHeartbeatPpacketMsg" value="$#@The client tries to send the heartbeat packet to the server to verify that the connection is really lost@#$"/>
    <!--客户端用于心跳包消息的验证文本-->
    <add key="ClientHeartbeatPpacketVerificationMsg" value="$#@The client tries to send the heartbeat packet to the server, and the service verification is successful without losing the connection@#$"/>
  </appSettings>
  <connectionStrings>
    <!--数据库连接字符串-->
    <!--<add name="ConStr" connectionString="Data Source=10.133.53.23;Initial Catalog=MideaMes;User ID=sa;pwd=hl@2017;;timeout=1000;Persist Security Info=True" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>

</configuration>
